.motivation__text {
  max-width: 690px;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  margin-bottom: 32px;
}

@media (max-width: 780px) {
  .motivation__text {
    max-width: 720px;
  }
}

@media (max-width: 320px) {
  .motivation__text {
    max-width: 288px;
  }
}
