.footer__menu-link {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125;
  color: #FFFFFF;
  text-decoration: none;
  display: block;
  margin: 0;
  padding: 0;
}

.footer__menu-link:hover {
  cursor: url(../../../images/mycursor.svg), auto;
  opacity: 0.8;
}

@media (max-width: 320px) {
  .footer__menu-link {
    font-size: 24px;
    line-height: 1;
  }
}
