.header__lang-link {
  color: #FFFFFF;
  display: block;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.11;

  padding-top: 8px;
  margin: 0;
  text-decoration: none;
}

.header__lang-link:hover {
  cursor: url(../../../images/mycursor.svg), auto;
  opacity: 0.8;
}

@media (min-width: 768px) {
  .header__lang-link {
    font-size: 28px;
    line-height: 1.17;
    padding-top: 12px;
  }
}
