.header__lang-link {
  display: block;
  color: #FFFFFF;
  width: 30px;
  height: 28px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: right;

  padding: 0;
  margin-right: 0;
  margin-left: auto;
}

.header__lang-link:last-child {
  padding: 0;
  margin-left: 18px;
  margin-right: 0;
}

@media (max-width: 320px) {
  .header__lang-link {
    width: 16px;
    height: 16px;
    font-size: 18px;
    line-height: 20px;
  }
}
