.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .photo-grid {
    max-width: 288px;
    gap: 12px;
    margin-bottom: 64px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    margin-bottom: 88px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    max-width: 928px;
    gap: 14px;
    margin-bottom: 92px;
  }
}

@media (min-width: 1280px) {
  .photo-grid {
    max-width: 1184px;
    margin-bottom: 92px;
  }
}
