.cards__paragraph {
  display: block;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  color: #FFFFFF;
  padding-bottom: 25px;
  margin: 0 16px;
}

.cards__paragraph:last-child {
  padding-bottom: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .cards__paragraph {
    max-width: 288px;
    /* margin-top: 0;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 0; */
  }
}

@media (min-width: 768px) {
  .cards__paragraph {
    max-width: 352px;
    font-size: 16px;

    padding-left: 0;
    padding-right: 0;
    margin-right: 24px;
  }
}

@media (min-width: 1024px) {
  .cards__paragraph {
    max-width: 456px;
  }
}

@media (min-width: 1280px) {
  .cards__paragraph {
    max-width: 484px;
    padding-bottom: 27px;
  }
}
