.launch__subtitle {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 40px auto;
}

@media (min-width: 320px) {
  .launch__subtitle {
    max-width: 288px;
  }
}

@media (min-width: 768px) {
  .launch__subtitle {
    max-width: 640px;
    font-size: 30px;
    margin-bottom: 56px;
  }
}

@media (min-width:1280px) {
  .launch__subtitle {
    margin-bottom: 64px;
  }
}
