.content {
  margin:  auto;
}

@media (min-width: 320px) {
  .content {
    max-width: 320px;
  }
}

@media (min-width: 768px) {
  .content {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .content {
    max-width: 928px;
  }
}

@media (min-width:1280px) {
  .content {
    max-width: 1184px;
    margin: 0 48px;
  }
}
