.cards__link-heading {
  max-width: 456px;

  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  color: #AAAAAA;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-bottom: 12px;
}

@media (max-width: 768px) {
  .cards__link-heading {
    max-width: 352px;

  }
}

@media (max-width: 320px) {
  .cards__link-heading {
    max-width: 288px;
  }
}
