.image-conclusion__subtitle {
  max-width: 360px;
  display: block;
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;

  text-align: center;
  color: #FFFFFF;
  margin: 32px auto 245px;
  padding: 0;
}

@media (max-width: 1024px) {
  .image-conclusion__subtitle {
    margin-bottom: 195px;
  }
}

@media (max-width: 768px) {
  .image-conclusion__subtitle {
    margin-bottom: 115px;
  }
}

@media (max-width: 320px) {
  .image-conclusion__subtitle {
    max-width: 288px;
    font-size: 14px;
    line-height: 1.14;
    margin: 16px auto 33px auto;
  }
}
