@media (min-width: 320px) and (max-width: 767px) {
  .cards__item {
    margin-bottom: 32px;
  }
}

@media (min-width: 768px) {
  .cards__item {
    display: grid;
    grid-template-columns:  auto 1fr;
    row-gap: 48px;
    column-gap: 28px;
    padding-bottom: 80px;
    margin: 0;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .cards__item {
    max-width: 928px;
    column-gap: 32px;
  }
}

@media (min-width: 1280px) {
  .cards__item {
    max-width: 984px;
  }
}
