.launch__image-container {
  margin: 0;
  padding: 0;
}

@media (min-width: 320px) {
  .launch__image-container {
    max-width: 320px;
  }
}

@media (min-width: 768px) {
  .launch__image-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .launch__image-container {
    max-width: 928px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width:1280px) {
  .launch__image-container {
    max-width: 984px;

  }
}
