.launch__title {
  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 110%;
  text-align: center;
  color: #FFFFFF;
  margin: 0 auto 16px auto;
}

@media (min-width: 320px) {
  .launch__title {
    max-width: 288px;
  }
}

@media (min-width: 768px) {
  .launch__title {
    max-width: 720px;
    font-size: 96px;
    line-height: 104%;
    margin-bottom: 32px;
  }
}
