.launch__image-container {
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 320px) and (max-width: 767px) {
  .launch__image-container {
    max-width: 320px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .launch__image-container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .launch__image-container {
    max-width: 928px;
  }
}

@media (min-width:1280px) {
  .launch__image-container {
    max-width: 984px;
    margin: 0 148px;
  }
}
