.motivation {
  max-width: 690px;
  margin-top: 92px;
  margin-left: 148px;
  padding: 0;
}

@media (max-width: 1024px) {
  .motivation {
    margin-left: 48px;
  }
}

@media (max-width: 768px) {
  .motivation {
    max-width: 720px;
    margin-top: 88px;
    margin-left: 24px;
  }
}

@media (max-width: 380px) {
  .motivation {
    max-width: 288px;
    margin: 64px 16px;
  }
}
