.cards__link-url {
  max-width: 456px;

  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;

  text-decoration-line: underline;

  color: #FFFFFF;
  margin-top: 12px;
}

.cards__link-url:hover {
  cursor: url(../../../images/mycursor.svg), auto;
  opacity: 0.8;
}

@media (max-width: 768px) {
  .cards__link-url {
    max-width: 352px;
  }
}

@media (max-width: 568px) and (min-width: 320px) {
  .cards__link-url {
    max-width: 288px;
  }
}
