.cards__link {
  max-width: 456px;

  padding: 0;
  align-self: end;
}

@media (max-width: 768px) {
  .cards__link {
    max-width: 352px;
    align-self: center;
  }
}

@media (max-width: 320px) {
  .cards__link {
    max-width: 288px;
    margin-left: 16px;
  }
}
