@media (min-width: 320px) {
  .cards__link {
    max-width: 288px;
    padding-left: 16px;
  }
}
@media (min-width: 768px) {
  .cards__link {
    max-width: 352px;
    align-self: center;
    padding: 0;
  }
}

@media (min-width: 1024px) {
  .cards__link {
    max-width: 456px;
    align-self: end;
  }
}
